body {
  height: 200px;
  width: 400px;
}

div.tab-pane h3,
div.tab-pane p {
  text-align: center;
}

div.tab-pane div {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
}

p#description {
  padding: 10px;
}
